/* ==================== VARIABLES  ==================== */
:root {
    --spacing-0: 0;
    --spacing-1: .5rem;
    --spacing-2: 1rem;
    --spacing-3: 1.5rem;
    --spacing-4: 2rem;
    --spacing-5: 2.5rem;
    --spacing-6: 3rem;
    --spacing-7: 3.5rem;
    --spacing-8: 4rem;
    --spacing-9: 5rem;

    --dark-1: #222;
    --light-1: #EEE;
}

/* ============================== RESET ==============================*/
* {
    border: var(--spacing-0);
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: var(--spacing-0);
    padding: var(--spacing-0);
    scroll-behavior: smooth;
}

/* ============================== ESTILO DE ETIQUETAS ==============================*/
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ol,
ul {
    list-style: none;
}

figure {
    display: flex;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

main {
    background-color: var(--light-1);
}

/* ==================== CLASES ==================== */
.container {
    color: var(--dark-1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-6);
    padding: 7rem 1rem 1rem 1rem;
}

.container>header h2 {
    text-align: center;
    font-size: 2em;
}

.card {
    color: var(--light-1);
    background-color: var(--dark-1);
    border-radius: var(--spacing-1);
    display: flex;
    flex-direction: column;
    padding: var(--spacing-2);
}

@media (min-width: 991px) {
    .container {
        padding-left: var(--spacing-6);
        padding-right: var(--spacing-6);
    }
}

#myModal {
    background-color: rgba(0, 0, 0, 0.8);
    /* position: fixed; */
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    width: 80%;
    display: flex;
    height: 70%;
    overflow: hidden;
}

#myModal header {
    display: flex;
    justify-content: space-between;
}

#myModal h3,
#myModal button {
    color: var(--light-1);
}

#myModal figure {
}

/* ==================== MENU DE NAVEGACION ==================== */
#navBar {
    color: var(--dark-1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    min-width: 100%;
    padding: var(--spacing-2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

#navBar.sticky {
    background-color: var(--light-1);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
}

#navBar h1 {
    font-size: 2em;
    font-weight: 500;
}

#navBar h2 {
    font-size: 1.3em;
    font-weight: 300;
}

#navBar .navigation {
    display: flex;
    gap: var(--spacing-6);
}

@media (max-width: 991px) {
    #navBar .navigation {
        display: none;
    }

    #navBar .navigation.active {
        background-color: var(--light-1);
        position: fixed;
        top: 5.5rem;
        left: 0;
        width: 100%;
        height: calc(100% - 5rem);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var(--spacing-4);
    }

    #navBar .navigation a {
        display: block;
        font-size: 2em;
        padding: var(--spacing-2) var(--spacing-3);
    }

    .menuToggle {
        filter: invert(1);
        position: relative;
        height: var(--spacing-8);
        width: var(--spacing-8);
        background: url("/images/menu.png");
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }

    .menuToggle.active {
        background: url("/images/close.png");
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
    }
}

@media (min-width: 992px) {
    #navBar h1 {
        font-size: 1.7em;
    }

    #navBar h2 {
        font-size: 1em;
    }
}

/* ==================== CABECERA DE PRESENTACION ==================== */
#profileHeader {
    padding-top: var(--spacing-0);
    min-height: 100vh;
}

#profileHeader .card {
    max-width: 420px;
    border-radius: var(--spacing-2) 0 var(--spacing-2) 0;
    display: block;
}

#profileHeader .card figure {
    float: right;
    background-color: var(--light-1);
    margin: var(--spacing-1);
    width: 170px;
}

#profileHeader .card p {
    font-size: 1.3em;
    margin-bottom: var(--spacing-1);
}

#profileHeader .card p span {
    font-weight: 700;
    font-size: 1.3em;
}

#profileHeader .card ul {
    background-color: var(--light-1);
}

#profileHeader .card li {
    color: var(--dark-1);
    padding: var(--spacing-1) var(--spacing-2);
    text-align: center;
    border-bottom: 2px solid var(--dark-1);
    font-weight: 700;
}

#profileHeader .card li:nth-last-child(1) {
    border-bottom: none;
}

@media (min-width: 992px) {
    #profileHeader {
        flex-direction: row;
    }

    .animacion {
        width: 100%;
        display: flex;
        align-items: center;
        animation: animate 10s linear infinite;
    }

    .circle {
        width: 50vw;
        justify-content: center;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: animate 10s linear infinite;
    }

    .circle::after {
        content: '';
        background-color: yellow;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        box-shadow: 0 0 20px yellow,

            40px -70px 0 gold,
            40px -70px 20px yellow,

            70px -70px 0 gold,
            70px -70px 20px yellow,

            -70px -150px 0 gold,
            -70px -150px 20px yellow;

        animation: animate 5s linear infinite;
    }

    .circle::before {
        content: '';
        background-color: var(--dark-1);
        border-radius: 50%;
        width: 50px;
        height: 50px;
        box-shadow: 0 0 20px var(--dark-1),

            40px -70px 0 limegreen,
            40px -70px 20px lightgreen,

            70px -70px 0 lightseagreen,
            70px -70px 20px cyan,

            -70px -150px 0 crimson,
            -70px -150px 20px lightcoral;

        animation: animate 10s linear infinite;
    }

    @keyframes animate {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
}

/* ============================== TECHNOLOGIES ==============================*/

#technologies .content {
    align-self: stretch;
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: auto;
    gap: var(--spacing-4);
}

#technologies .card {
    background-color: var(--light-1);
    border: 3px solid var(--dark-1);
    gap: var(--spacing-2);
}

#technologies .card h3 {
    color: var(--dark-1);
    text-align: center;
    font-size: 1.3em;
}

#technologies .card p {
    color: var(--dark-1);
    font-size: 1.3em;
    text-align: center;
}

#technologies .card div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-4);
}

#technologies .card figure {
    flex-direction: column;
    align-items: center;
    height: 3.5rem;
    width: 3.5rem;
}

#technologies .card figcaption {
    background-color: var(--dark-1);
    border: 1px solid var(--light-1);
    border-radius: var(--spacing-1);
    padding: var(--spacing-1);
}

@media (min-width: 992px) {
    #technologies .content {
        grid-template-columns: repeat(3, auto);
    }
}

/* ============================== ESTUDIOS ==============================*/
#studies .content {
    align-self: stretch;
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacing-2);
}

#studies .card {
    gap: var(--spacing-2);
}

#studies .card header,
#studies .card div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#studies .card button {
    align-self: flex-start;
    border-radius: 50%;
    cursor: pointer;
    padding: .4rem;
}

#studies .card h3 {
    font-weight: 500;
}

#studies .card h4 {
    font-weight: 300;
}

#studies .card span {
    font-style: italic;
}

@media (min-width: 992px) {
    #studies .content {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* ============================== EXPERIENCIA ==============================*/
#experience .content {
    align-self: stretch;
    display: grid;
    grid-template-columns: 1fr;
    align-items: start;
    gap: var(--spacing-6);
}

#experience .card {
    gap: var(--spacing-2);
    transition: 0.3s ease-in-out;
}

#experience .card h3 {
    font-size: 1.3em;
    text-align: center;
}

#experience .card h4 {
    font-weight: 500;
    text-align: center;
}

#experience .card figure {
    align-self: center;
    border: 2px solid var(--dark-1);
    border-radius: var(--spacing-1);
    position: relative;
    top: -35px;
    width: 70%;
    height: 4rem;
    padding: var(--spacing-1);
}

#experience .card:nth-child(1) figure {
    background-color: var(--light-1);
}

#experience .card:nth-child(2) figure {
    background-color: #111;
}

#experience .card img {
    object-fit: contain;
}

#experience .card p {
    font-size: 1.1em;
    max-height: 0;
    overflow: hidden;
    text-align: center;
    transition: max-height 0.5s ease-out;
}

@media (min-width: 992px) {
    #experience .content {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* ============================== PIE DE PAGINA ==============================*/
footer.container {
    background-color: var(--dark-1);
    padding-bottom: 7rem;
}

footer.container>header h2 {
    color: var(--light-1);
}

footer .content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-4);
}

footer .card {
    background-color: var(--light-1);
    color: var(--dark-1);
}

footer .card h3 {
    border-bottom: 1px solid var(--dark-1);
    text-align: center;
    font-size: 1.3em;
    font-weight: 500;
}

footer .card li {
    font-size: 1.1em;
    font-weight: 400;
}

footer li {
    margin-bottom: var(--spacing-2);
    margin-top: var(--spacing-2);
}

@media (min-width: 992px) {
    footer .content {
        width: 100%;
        flex-direction: row;
        justify-content: space-evenly;
    }

    footer .card h3 {
        font-weight: 700;
        text-align: left;
    }
}